<!DOCTYPE html>
<html>
    <head> 
        <meta charset='utf-8'>
        <title> Brevin and Steven's Mad Libs Experience!! </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <form action="/madlib" method ="post">
            <div class="container">
                <h1>Enter Your Words Below!!</h1>
                

                <div class="row"> 
                    <label for="nounOne"> Enter a Noun</label>
                    <input id="nounOne" name="nounOne" type="text">
                    <label for="nounTwo"> Enter Another Noun</label>
                    <input id="nounTwo" name="nounTwo" type="text">
                    <label for="nounThree"> Enter One More Noun</label>
                    <input id="nounThree" name="nounThree" type="text">
                </div>
               <br>
                
                <div class="row">
                    <label for="verbOne"> Enter a verb</label>
                    <input id="verbOne" name="verbOne" type="text">
                    <label for="verbTwo"> Enter Another verb</label>
                    <input id="verbTwo" name="verbTwo" type="text">
                    <label for="verbThree"> Enter One More verb</label>
                    <input id="verbThree" name="verbThree" type="text">
                </div>
               <br>
                 
                <div class="row">
                    <label for="adjOne"> Enter a Adjective</label>
                    <input id="adjOne" name="adjOne" type="text">
                    <label for="adjTwo"> Enter Another Adjective</label>
                    <input id="adjTwo" name="adjTwo" type="text">
                    <label for="adjThree"> Enter One More Adjective</label>
                    <input id="adjThree" name="adjThree" type="text">
                </div>
               <br>

                <div class="row"> 
                    <label for="adverbOne"> Enter a Adverb</label>
                    <input id="adverbOne" name="adverbOne" type="text">
                    <label for="adverbTwo"> Enter Another Adverb</label>
                    <input id="adverbTwo" name="adverbTwo" type="text">
                    <label for="adverbThree"> Enter One More Adverb</label>
                    <input id="adverbThree" name="adverbThree" type="text">
                 </div>
                
                <br>
                
                <button type="submit">Go!</button>
            </div>
        </form>
    </body>
</html>